/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

// Modified by Belmu (https://github.com/BelmuTM)

/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                          "shared/colors.rasi"
@import                          "shared/fonts.rasi"

@import "~/.cache/wal/colors-rofi-pywal.rasi"

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       400px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               20px;
    border-color:                @color2;
    cursor:                      "default";
    background-color:            @color0;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     30px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @color5;
    background-color:            transparent;
    children:                    [ "inputbar", "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @color5;
    background-color:            transparent;
    text-color:                  @color3;
    children:                    [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "      ";
    padding:                     12px 0px;
    border-radius:               100%;
    horizontal-align: 0.5;
    background-color:            @color3;
    text-color:                  @color0;
}
prompt {
    enabled:                     true;
    padding:                     12px 17px;
    border-radius:               100%;
    background-color:            @color2;
    text-color:                  @color0;
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     12px;
    border:                      0px solid;
    border-radius:               100%;
    border-color:                @color5;
    background-color:            @color0;
    text-color:                  @color7;
}
textbox {
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    placeholder-color:           @color7;
    blink:                       true;
    markup:                      true;
}
error-message {
    padding:                     12px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @color5;
    background-color:            @background;
    text-color:                  @color7;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @color5;
    background-color:            transparent;
    text-color:                  @color7;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     12px;
    border:                      0px solid;
    border-radius:               100%;
    border-color:                @color1;
    background-color:            transparent;
    text-color:                  @color7;
    cursor:                      pointer;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
element selected.normal {
    background-color:            @color3;
    text-color:                  @color0;
}
